### Java and JavaFX files to ignore

# Eclipse core files
.settings/

# Binary java files
*.class

# Java executable
*.jar

# classpath
.classpath

# Java folder with '.class' files
bin/

# JavaFX build file
build.fxbuild

